@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}

.catagoryBtn {
  padding: 8px;
  border: 1px solid gray;
  font-weight: bold;
  border-radius: 5px;
}
.catagoryBtn:hover,
.catagoryBtn.active {
  background: #4a00ff;
  color: white;
}


#modalContainer{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  display:none;
  justify-content:center;
  align-items:center;
}
.modal-box{
  background:white;
  padding:20px;
  border-radius:8px;
}